{% extends 'layout.html' %}
{% load static %}

{% block title %}{{ department.name }}{% endblock %}

{% block content %}
    <div class="container mt-5">
		<div>
			<h2>{{ department.name }}</h2>
			<p>{{ department.description }}</p>
		</div>
        <!-- Top Half -->
        {% if user.role == 'admin' %}
			<div class="top-half">
				<div class="container">
					<div class="scrollable-content">
						<h5 class="managing-ticket mt-4">Tickets To Manage</h5>
						{% if tickets_department %}
						<div class="row mt-5 justify-content-center">
							<div class="col-1 text-black text-center">Status</div>
							<div class="col-1 text-black text-center">Priority</div>
							<div class="col-2 text-black text-center">Name</div>
							<div class="col-2 text-black text-center">Title</div>
							<div class="col-1 text-black text-center">Date</div>
							<div class="col-2 text-black text-center">Department</div>
							<div class="col-1 text-black text-center">ID</div>
						</div>
						<!-- Ticket entries -->
						{% for ticket_department in tickets_department %}
						<div class="row mt-4 ticket-row justify-content-center">
							<div class="col-1 text-black align-items-center">
								<!--div class="status-circle rounded-circle-5 me-2"></div-->
								{{ ticket_department.status }}
							</div>
							<div class="col-1 text-black text-center">{{ ticket_department.priority }}</div>
							<div class="col-2 text-black text-center">{{ ticket_department.name }}</div>
							<div class="col-2 text-black text-center">{{ ticket_department.title }}</div>
							<div class="col-1 text-black text-center">{{ ticket_department.date }}</div>
							<div class="col-2 text-black text-center">{{ ticket_department.department }}</div>
							<div class="col-1 text-black text-center">#{{ ticket_department.id }}</div>
							<hr style="width: 90%; margin: 20px auto;">
						</div>
						{% endfor %}
						{% else %}
						<p>No tickets.</p>
						{% endif %}
					</div>
				</div>
			</div>
        {% endif %}
        <!-- Bottom Half -->
        <div class="bottom-half">
            <div class="container mt-3">
				<div>
                	<h3>My Tickets</h3>
					<a href="">see all</a>
				</div>
                {% if tickets %}
					<ol class="list-group list-group-horizontal-sm list-unstyled">				
                    {% for ticket in tickets|slice:":4" %}
						<li class="mx-2 my-2 ticket card mb-3">
							<a href="{% url 'ticket_detail' workspace.id department.id ticket.id %}">
								<div class="row g-0">
									<div class="col-md-4">
									</div>
									<div class="col-md-8">
										<div class="card-body">
											<h5 class="card-title">{{ ticket.title }}</h5>
											<p class="card-text">{{ ticket.description }}</p>
											<p class="card-text"><small class="text-body-secondary">{{ ticket.created_at|date:"SHORT_DATE_FORMAT" }}</small></p>
										</div>
									</div>
								</div>
							</a>
						</li>
                    {% endfor %}
					</ol>
                {% else %}
                	<p>No tickets.</p>
                {% endif %}
			</div>
        </div>
		<!-- Buttons -->
		<div class="d-flex justify-content-end">
			{% if user.is_owner %}
			<a href="{% url 'delete_department' workspace.id department.id %}" class="btn btn-danger mt-2 mx-1">
				Delete Department
			</a>
			<a href="{% url 'update_department' workspace.id department.id %}" class="btn btn-primary mt-2 mx-1" >
				Update Department
			</a>
			{% endif %}
			<a href="{% url 'create_ticket' workspace.id department.id %}" class="btn btn-primary mt-2 mx-1" >
				Create a new ticket
			</a>
		</div>
    </div>
{% endblock %}
