{% extends 'layout.html' %}
{% load static %}

{%block title%}{{ department.name }}{%endblock%}

{% block content %}
    <div class="split-container">
        <!-- Top Half -->
        {% if user.role == 'admin' %}
			<div class="top-half">
				<div class="container">
					<div class="scrollable-content">
						<h5 class="managing-ticket mt-4">Tickets To Manage</h5>
						{% if tickets_department %}
						<div class="row mt-5 justify-content-center">
							<div class="col-1 text-black text-center">Status</div>
							<div class="col-1 text-black text-center">Priority</div>
							<div class="col-2 text-black text-center">Name</div>
							<div class="col-2 text-black text-center">Title</div>
							<div class="col-1 text-black text-center">Date</div>
							<div class="col-2 text-black text-center">Department</div>
							<div class="col-1 text-black text-center">ID</div>
						</div>
						<!-- Ticket entries -->
						{% for ticket_department in tickets_department %}
						<div class="row mt-4 ticket-row justify-content-center">
							<div class="col-1 text-black align-items-center">
								<!--div class="status-circle rounded-circle-5 me-2"></div-->
								{{ ticket_department.status }}
							</div>
							<div class="col-1 text-black text-center">{{ ticket_department.priority }}</div>
							<div class="col-2 text-black text-center">{{ ticket_department.name }}</div>
							<div class="col-2 text-black text-center">{{ ticket_department.title }}</div>
							<div class="col-1 text-black text-center">{{ ticket_department.date }}</div>
							<div class="col-2 text-black text-center">{{ ticket_department.department }}</div>
							<div class="col-1 text-black text-center">#{{ ticket_department.id }}</div>
							<hr style="width: 90%; margin: 20px auto;">
						</div>
						{% endfor %}
						{% else %}
						<p>No tickets.</p>
						{% endif %}
					</div>
				</div>
			</div>
        {% endif %}
        <!-- Bottom Half -->
        <div class="bottom-half">
            <div class="container mt-3">
                <h5 class="managing-ticket">My Tickets</h5>
                {% if tickets %}
                <div class="scrollable-content">
                    <div class="row mt-5 justify-content-center">
                        <div class="col-1 text-black text-center">Status</div>
                        <div class="col-1 text-black text-center">Priority</div>
                        <div class="col-2 text-black text-center">Name</div>
                        <div class="col-2 text-black text-center">Title</div>
                        <div class="col-1 text-black text-center">Date</div>
                        <div class="col-2 text-black text-center">Department</div>
                        <div class="col-1 text-black text-center">ID</div>
                    </div>
                    <!-- Ticket entries -->
                    {% for ticket in tickets %}
                    <div class="row mt-4 ticket-row justify-content-center">
                        <div class="col-1 text-black align-items-center">
                            <!--div class="status-circle rounded-circle me-2"></di-->
                            {{ ticket.status }}
                        </div>
                        <div class="col-1 text-black text-center">{{ ticket.priority }}</div>
                        <div class="col-2 text-black text-center">{{ ticket.name }}</div>
                        <div class="col-2 text-black text-center">{{ ticket.title }}</div>
                        <div class="col-1 text-black text-center">{{ ticket.created_at }}</div>
                        <div class="col-2 text-black text-center">{{ ticket.department }}</div>
                        <div class="col-1 text-black text-center">#{{ ticket.id }}</div>
                        <hr style="width: 90%; margin: 20px auto;">
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                <p>No tickets.</p>
                {% endif %}
            </div>
        </div>
    </div>

    <button class="btn mt-2 text-white" style="background: #2a309c; margin-left: 20px;" onclick="window.location='{% url 'create_ticket' workspace.id department.id %}'">
        Create a new ticket
    </button>

    {% if user.is_owner %}
    <!-- Button to update workspace -->
    <button class="btn custom-btn mt-2 text-white" style="background: #2a309c; margin-left: 20px;" onclick="window.location='{% url 'update_department' workspace.id department.id %}'">
        Update Department
    </button>

    <!-- Button to delete workspace -->
    <form method="POST" action="{% url 'delete_department' workspace.id department.id %}">
        {% csrf_token %}
        <button class="btn custom-btn mt-2 text-white" style="background: #2a309c; margin-left: 20px;">Delete Department</button>
    </form>
    {% endif %}
{% endblock %}