<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
		<title>Probless | {% block title %}{% endblock %}</title>
	</head>
	<body>
		<header>
			<nav>
				<ul class="nav nav-pills">
					{% if user.is_owner %}
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Workspaces</a>
							<ul class="dropdown-menu">
								{% if workspaces_ctx %}
									{% for workspace in workspaces_ctx %}
										<li><a class="dropdown-item" href="{% url 'workspace_detail' workspace.id %}">{{workspace.name}}</a></li>
									{% endfor %}
									<li><hr class="dropdown-divider"></li>
								{% endif %}
								<li><a class="dropdown-item" href="{% url 'show_workspaces' %}">All Workspaces</a></li>
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								<button type="button" class="btn btn-primary btn-sm">
									Create a new user
								</button>
							</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="{% url 'create_user' %}">Create User</a></li>
								<li><a class="dropdown-item" href="{% url 'show_users' %}">Show all users</a></li>
								<!-- Más opciones si lo deseas -->
							</ul>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'create_workspace' %}">
								<button type="button" class="btn btn-primary btn-sm">
									Create a new workspace
								</button>
							</a>
						</li>
						{% if workspace and department %}
						<li class="nav-item">
							<a class="nav-link" href="{% url 'tickets_history' workspace.name department.name %}">
								<button type="button" class="btn btn-primary btn-sm">
									Tickets History
								</button>
							</a>
						</li>
						{% endif %}
					{% endif %}
					{% if user.is_authenticated %}
						{% if not user.is_owner %}
							<li class="nav-item">
								<a class="nav-link" href="{% url 'dashboard' workspace_name=user.dept.workspace_id.name department_name=user.dept.name %}">Dashboard</a>
							</li>
						{% endif %}
						<li class="nav-item">
							<a class="nav-link" href="{% url 'logout' %}">Log Out</a>
						</li>
					{% else %}
						<li class="nav-item">
							<a class="nav-link" href="{% url 'signup_owner' %}">Sign Up</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'signup_owner' %}">Log In</a>
						</li>
					{% endif %}
					{% if user.is_authenticated %}
						<!-- Mostrar el nombre de usuario al final -->
						<a class="nav-link" href="{% url 'view_detail_user' user.id %}">{{ user.username }}</a>
					{% endif %}
				</ul>
			</nav>
		</header>
		<main>
			{% block content %}
			{% endblock %}
		</main>
	</body>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</html>