{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Probless | {% block title %}{% endblock %}</title>
		<!-- stylesheets -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'style-layout.css' %}" />
		<link rel="stylesheet" href="{% static 'style-ticket.css' %}">
	</head>
	<body>
		<!-- Navigation Bar -->
		<nav class="navbar navbar-expand-lg navbar-light py-3 navbar-shrink" id="mainNav">
			<div class="container-fluid">
				{% if user.is_owner %}
					<a class="navbar-brand" href="{% url 'show_workspaces' %}">Probless</a>
				{% elif not user.is_owner and workspace and department%}
					<a class="navbar-brand" href="#">Probless</a>
				{% else %}
					<a class="navbar-brand" onclick="window.history.back();">Probless</a>
				{% endif %}
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<!-- Left-aligned Links (Buttons) -->
					<ul class="navbar-nav me-auto">
						{% if user.is_owner %}
							<!-- Users Dropdown -->
							<li class="nav-item dropdown">
								<a class="nav-link" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									<button type="button" class="btn btn-sm text-white" style="background: #2a309c;">Manage Users</button>
								</a>
								<ul class="dropdown-menu" aria-labelledby="userDropdown">
									<li><a class="dropdown-item" href="{% url 'create_user' %}">Create User</a></li>
									<li><a class="dropdown-item" href="{% url 'show_users' %}">Show all users</a></li>
								</ul>
							</li>
							
							<!-- Create Workspace Link -->
							<li class="nav-item">
								<a class="nav-link" href="{% url 'create_workspace' %}">
									<button type="button" class="btn btn-sm text-white" style="background: #2a309c;">Create a new workspace</button>
								</a>
							</li>
							
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="workspaceDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Workspaces</a>
								<ul class="dropdown-menu" aria-labelledby="workspaceDropdown">
									{% if workspaces_ctx %}
										{% for workspace in workspaces_ctx %}
										<li><a class="dropdown-item" href="{% url 'workspace_detail' workspace.id %}">{{ workspace.name }}</a></li>
										{% endfor %}
										<li><hr class="dropdown-divider" /></li>
									{% endif %}
									<li><a class="dropdown-item" href="{% url 'show_workspaces' %}">All Workspaces</a></li>
								</ul>
							</li>
                        {% endif %}
                        {% if workspace and department %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'tickets_history' workspace.id department.id %}">
                                <button type="button" class="btn btn-sm text-white" style="background: #2a309c;">Tickets History</button>
                            </a>
                        </li>
                        {% endif %}
                        </ul>
                        <!-- Right-aligned Links (User Info and Auth) -->
					<ul class="navbar-nav ms-auto">
						{% if user.is_authenticated %}
							<li class="nav-item">
								<a class="nav-link" href="{% url 'view_detail_user' user.id %}">{{ user.username }}</a>
							</li>
							<li class="nav-item">
								<a class="btn custom-btn nav-link text-white" href="{% url 'logout' %}">Log Out</a>
							</li>
						{% else %}
							<li class="nav-item">
								<a class="btn custom-btn nav-link" href="{% url 'signup_owner' %}">Sign Up</a>
							</li>
							<li class="nav-item">
								<a class="btn custom-btn nav-link" href="{% url 'login' %}">Log In</a>
							</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</nav>
		<main>{% block content %}{% endblock %}</main>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
	</body>
</html>
