body {
	background-color: white;
}

/* Custom Button Styles */
.custom-btn {
	width: 70px;
	height: 35px;
	font-size: 0.9rem;
	padding: 5px 10px;
	text-align: center;
}

/* Adjust the gap if needed */
.d-flex.gap-2 {
	gap: 15px;}