{% extends 'layout.html' %}
{% block title %}Create Department{% endblock %}

{% block content %}
	<div class="d-flex align-items-center pt-5">
		<div class="container h-100">
			<div class="row d-flex justify-content-center align-items-center h-100">
				<div class="col-12 col-md-9 col-lg-7 col-xl-6">
					<div class="card forms"> 
						<div class="card-body p-5">
							<h2 class="text-uppercase text-center mb-5">Create Department</h2>
							<form method="POST">
								{% csrf_token %}
								<div data-mdb-input-init class="form-outline mb-4">
									<label class="form-label" for="form3Example3cg">Department Name</label>
									{{ form.name }}
								</div>
								<div class="form-outline mb-4">
									<label class="form-label form-label-lg" for="form3Example2cg">Description</label>
									{{ form.description }}
								</div>
								<div class="d-flex justify-content-end">
									<button type="button" class="btn" onclick="window.history.back();">Cancel</button>
									<button type="submit" class="btn text-white" style="background: #6D28D9">Create</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}