{% extends 'layout.html' %}

{% block title %}{{ workspace.name }}{% endblock %}

{% block content %}
	<div class="container mt-5">
		<div>
			<h2>{{ workspace.name }}</h2>
			<p>{{ workspace.description }}</p>
		</div>
		{% if departments %}
			<div class="table-responsive-sm">
				<table class="table table-light caption-top table-hover">
					<caption>Departments</caption>
					<thead>
						<tr>
							<th>Name</th>
							<th>Description</th>
							<th>Created</th>
						</tr>
					</thead>
					<tbody>
						{% for department in departments %}
							<tr onclick="window.location.href='{% url 'dashboard' workspace.id department.id %}'" >
								<td>{{ department.name }}</td>
								<td>{{ department.description }}</td>
								<td>{{ department.created_at|date:"SHORT_DATE_FORMAT" }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		{% endif %}
		<!-- Buttons -->
		<div class="d-flex justify-content-end">
			<a href="{% url 'delete_workspace' workspace.id %}" class="btn btn-danger mx-1">
				Delete Workspace
			</a>
			<a href="{% url 'update_workspace' workspace.id %}" class="btn btn-primary mx-1">
				Update Workspace
			</a>
			<a href="{% url 'create_department' workspace.id %}" class="btn btn-primary mx-1">
				Create New Department
			</a>
		</div>
	</div>
{% endblock %}
