{% extends 'layout.html' %}
{% load static %}

{% block title %}Create User{% endblock title %}


{% block content %}
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px; border: none; box-shadow: 0px 4px 8px rgb(192, 192, 192); margin-top: 20px">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Create a new user</h2>

                            <form method="POST", action="{% url 'create_user' %}">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <div data-mdb-input-init class="form-outline mb-4">
                                            {{ form.first_name }}
                                            <label class="form-label form-label-lg" for="form3Example1cg">First Name</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div data-mdb-input-init class="form-outline mb-4">
                                            {{ form.last_name }}
                                            <label class="form-label form-label-lg" for="form3Example2cg">Last Name</label>
                                        </div>
                                    </div>
                                </div>

                                <div data-mdb-input-init class="form-outline mb-4">
                                    {{ form.email }}
                                    <label class="form-label" for="form3Example3cg">User Email</label>
                                </div>

                                <div data-mdb-input-init class="form-outline mb-4">
                                    {{ form.username}}
                                    <label class="form-label" for="form3Example3cg">Username</label>
                                </div>

                                <div data-mdb-input-init class="form-outline mb-4">
                                    {{ form.password1}}
                                    <label class="form-label" for="form3Example4cg">Password</label>
                                </div>

                                <div data-mdb-input-init class="form-outline mb-4">
                                    {{ form.password2}}
                                    <label class="form-label" for="form3Example4cg">Confirm Password</label>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div data-mdb-input-init class="form-outline mb-4">
                                            {{ form.role }}
                                            <label class="form-label form-label-lg" for="form3Example1cg">Role</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div data-mdb-input-init class="form-outline mb-4">
                                            {{ form.dept }}
                                            <label class="form-label form-label-lg" for="form3Example2cg">Department</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-center">
                                    <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-block custom-button-auth text-white" style="background: #4d9afd">Create</button>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
                    <div class="btn-centered">
                        <button class="btn w-100 py-2" type="submit">Create User</button>
                    </div>
            </form>
        </main>
    </div>
    </div>
{% endblock content %}
