{% extends "layout.html" %}

{% block title %}User Profile{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>{{ view_detail_user.username }}'s Profile</h2>
    <ul class="list-group">
        <li class="list-group-item"><strong>First Name: </strong> {{ view_detail_user.first_name }}</li>
        <li class="list-group-item"><strong>Last Name: </strong> {{ view_detail_user.last_name }}</li>
        <li class="list-group-item"><strong>Email: </strong> {{ view_detail_user.email }}</li>
        <li class="list-group-item"><strong>Department: </strong> {{ view_detail_user.dept.name }}</li>
        <li class="list-group-item"><strong>Role: </strong> {{ view_detail_user.get_role_display }}</li>
    </ul>
</div>
{% endblock %}
