{% extends 'layout.html' %}

{% block title %}Create Workspace{% endblock %}

{% block content %}
	<div class="text-white container">
		<h4 class="mt-5 pt-5 text-white">Create Workspace</h4>
		<form method="POST">
			{{error}}
			{% csrf_token %}
			<p>
		<label for="id_name">Name:</label>
		<input type="text" name="name" maxlength="255" required="" id="id_name">
		
		
		</p>

		
		<p>
		<label for="id_description">Description:</label>
		<textarea name="description" cols="40" rows="10" required="" id="id_description"></textarea>
		
		
			
		
		</p>
			<button type="submit">Create</button>
		</form>
	</form>
	</div>
{% endblock %}