{% extends "layout.html" %}

{% block content %}
<h2 class="mt-5 pt-5 text-white">Users managed by {{ owner.username }}</h2>

{% if users %}
<ul>
    {% for user in users %}
        <li>{{user.dept.name}} - {{user.first_name}} {{user.last_name}} ({{ user.username }})
            <a href="{% url 'update_user' user.id %}"> Update |</a>
            <a href="{% url 'delete_user' user.id %}"> Delete</a>
        </li>
    {% endfor %}
</ul>
{% else %}
    <p class="text-white">No users found for this owner.</p>
{% endif %}
{% endblock %}