{% extends 'layout.html' %}

{% block title %}{{ workspace.name }}{% endblock %}

{% block content %}
	<div class="container mt-5">
		<h2>{{ workspace.name }}</h2>
		<p>{{ workspace.description }}</p>
		{% if departments %}
		<h4>Departments:</h4>
		<ul>
			{% for department in departments %}
				<li>
					<a href="{% url 'dashboard' workspace.id department.id %}" class='nav-link'>
						<h2>{{ department.name }}</h2>
						<p>{{ department.description }}</p>
					</a>
				</li>
			{% endfor %}
		</ul>
		{% endif %}
		<a href="{% url 'create_department' workspace.id %}" class="btn btn-primary">
			Create New Department
		</a>
		<a href="{% url 'update_workspace' workspace.id %}" class="btn btn-primary">
			Update Workspace
		</a>
		<a href="{% url 'delete_workspace' workspace.id %}" class="btn btn-danger">
				Delete Workspace
		</a>
	</div>
{% endblock %}
