{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'style-auth.css' %}">
        <title>Probless | Sign Up</title>
    </head>
    <body>
        <div class="d-flex align-items-center pt-5 gradient-custom-3 pb-5" style="min-height: 100vh">
            <div class="container">
                <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card" style="border-radius: 15px; border: none; box-shadow: 0px 4px 8px rgb(192, 192, 192)">
                            <div class="card-body p-5">
                                <h2 class="text-uppercase text-center mb-5">Create an account</h2>

                                <form method="POST", action="{% url 'signup_owner' %}">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div data-mdb-input-init class="form-outline mb-4">
                                                <label class="form-label form-label-lg" for="form3Example1cg">First Name</label>
                                                {{ form.first_name }}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div data-mdb-input-init class="form-outline mb-4">
                                                <label class="form-label form-label-lg" for="form3Example2cg">Last Name</label>
                                                {{ form.last_name }}
                                            </div>
                                        </div>
                                    </div>

                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <label class="form-label" for="form3Example3cg">Your Email</label>
                                        {{ form.email }}
                                    </div>

                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <label class="form-label" for="form3Example3cg">Username</label>
                                        {{ form.username}}
                                    </div>

                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <label class="form-label" for="form3Example4cg">Password</label>
                                        {{ form.password1}}
                                    </div>

                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <label class="form-label" for="form3Example4cg">Confirm Password</label>
                                        {{ form.password2}}
                                    </div>

                                    <div class="form-check d-flex justify-content-center mb-5">
                                        <label class="form-check-label" for="form2Example3g">
                                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                                    </label>
                                        I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                                    </div>

                                    <div class="d-flex justify-content-center">
                                    <button  type="submit" data-mdb-button-init
                                        data-mdb-ripple-init class="btn btn-block custom-button-auth text-white" style="background: #6D28D9">Register</button>
                                    </div>

                                    <p class="text-center text-muted mt-5 mb-0">Already have an account? <a href="{% url 'login' %}"
                                        class="fw-bold text-body"><u>Login here</u></a></p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>