{% extends "layout.html" %}
{% block title %}Update User{% endblock %}
<h2>Update User: {{ user.username }}</h2>

{% block content %}
    <div class="mask d-flex align-items-center h-100 pt-5 pb-5 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px; border: none; box-shadow: 0px 4px 8px rgb(192, 192, 192); margin-top: 20px">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Update {{ user.username }}</h2>

                            <form method="POST", action="{% url 'update_user' user.id %}"
                                    {% if not request.user.is_owner %}disabled{% endif %}>
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <div data-mdb-input-init class="form-outline mb-4">
                                            <label class="form-label form-label-lg" for="form3Example1cg">First Name</label>
                                            {{ form.first_name }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div data-mdb-input-init class="form-outline mb-4">
                                            <label class="form-label form-label-lg" for="form3Example2cg">Last Name</label>
                                            {{ form.last_name }}
                                        </div>
                                    </div>
                                </div>

                                <div data-mdb-input-init class="form-outline mb-4">
                                    <label class="form-label" for="form3Example3cg">User Email</label>
                                    {{ form.email }}
                                </div>

                                <div data-mdb-input-init class="form-outline mb-4">
                                    <label class="form-label" for="form3Example3cg">Username</label>
                                    {{ form.username}}
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div data-mdb-input-init class="form-outline mb-4">
                                            <label class="form-label form-label-lg" for="form3Example1cg">Role</label>
                                            {{ form.role }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        {% if not user.is_owner %}
                                            <div data-mdb-input-init class="form-outline mb-4">
                                                <label class="form-label form-label-lg" for="form3Example2cg">Department</label>
                                                {{ form.dept }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                {% if request.user.is_owner%}
                                    <div class="d-flex justify-content-center">
                                        <a href="{% url 'change_password' user.id %}" class="btn" title="Change Password">Change Password</a>
                                        <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-block custom-button-auth text-white" style="background:#6D28D9">Update</button>
                                    </div>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </main>
    </div>
    </div>
{% endblock %}
