{% extends 'layout.html' %}
{% load static %}

{% block title %}Create Ticket{% endblock %}

{% block content %}
	<div class="mask d-flex align-items-center h-100 gradient-custom-3">
		<div class="container h-100 mt-3 pt-3">
			<div class="row d-flex justify-content-center align-items-center h-100">
				<div class="col-md-6">
					<div class="card shadow" style="border-radius: 15px;">
						<div class="card-body p-5">
							<h2 class="text-uppercase text-center mb-5">Create Ticket</h2>
							<form id="ticket-form" method="POST">
								{% if error %}
									<div class="alert alert-danger" role="alert">{{ error }}</div>
								{% endif %}
								{% csrf_token %}
								<div class="form-outline mb-4">
									<label class="form-label form-label-lg" for="form3Example2cg">Title</label>
									{{ form.title }}
								</div>
								<div class="form-outline mb-4">
									<label class="form-label form-label-lg" for="form3Example2cg">Description</label>
									{{ form.description }}
								</div>
								<div class="row">
									<div class="col-md-6 mb-4">
										<div class="form-outline">
											<label class="form-label form-label-lg" for="form3Example2cg">Priority</label>
											{{ form.priority }}
										</div>
									</div>
									<div class="col-md-6 mb-4">
										<div class="form-outline">
											<label class="form-label form-label-lg" for="form3Example2cg">Assign Department</label>
											{{ form.assigned_department_id }}
										</div>
									</div>
								</div>
								<!-- Cancel and Create Buttons -->
								<div class="row justify-content-between mt-4">
									<div class="col-md-1 col-sm-3 text-end">
										<button type="button" class="btn" onclick="window.history.back();">Cancel</button>
									</div>
									<div class="col-md-5 col-sm-6">
										<button type="submit" class="btn btn-primary">Create</button>
									</div>
									<!-- Button to get AI suggestion -->
									<div class="col-md-4 col-sm3">
										<button type="submit" name="use_ai" class="btn btn-info btn-lg text-white" style="background: #4d9afd; white-space: nowrap;" >Get AI Solution</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				{% if ai_response %}
					<!-- AI response card -->
					<div class="col-md-4">
						<div class="card shadow" style="border-radius: 15px; background: #e0e0e0;">
							<div class="card-body p-4">
								<h4 class="card-title text-center">AI Suggested Solution</h4>
								<p class="card-text mt-3">{{ ai_response|safe }}</p>
								<div class="d-flex justify-content-end mt-4">
									<div>
										<form method="POST">
                                            {% csrf_token %}
                                            <button type="submit" name="not_solved" class="btn">Not Solved</button>
                                        </form>
									</div>
									<div class="text-end">
										<button type="button" class="btn btn-primary" onclick="window.location.href='{% url 'dashboard' workspace.id department.id %}';">Solved</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
