{% extends "layout.html" %}

{% load static %}

{% block title %}Ticket{% endblock %}

{% block content %}
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container-ticket-detail h-100 mt-3 pt-3">
            <div class="row d-flex justify-content-center align-items-center h-100 gap-2">
                <div class="col-md-6">
                    <div class="card shadow" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Ticket Details</h2>
                            <form method="POST">
                                {% csrf_token %}
                                {% if messages %}
                                        {% for message in messages %}
                                            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">
                                                {{ message }}
                                            </div>
                                        {% endfor %}
                                {% endif %}
                            {% if error %}
                            <div class="alert alert-danger" role="alert">{{ error }}</div>
                            {% endif %}

                            <!-- Title Field -->
                            <div class="mb-4">
                                <label class="form-label form-label-lg">Title</label>
                                {{ form.title }}
                            </div>

                            <!-- Description Field -->
                            <div class="mb-4">
                                    <label class="form-label form-label-lg">Description</label>
                                    {{ form.description }}
                                </div>

                                <!-- Assigned Department Field -->
                                <div class="form-outline mb-4">
                                    <label class="form-label form-label-lg" for="assigned_department_id">Assigned Department</label>
                                   {{ form.assigned_department_id }}
                                </div>

                                <!-- Priority and Status for Admins -->
                                <div class="form-outline mb-4">
                                    <label class="form-label form-label-lg" for="priority">Priority</label>
                                    <select id="priority" name="priority" class="form-control form-control-lg" {% if request.user.role == 'user' %}disabled{% endif %}>
                                        <option value="low" {% if ticket.priority == 'low' %}selected{% endif %}>Low</option>
                                        <option value="medium" {% if ticket.priority == 'medium' %}selected{% endif %}>Medium</option>
                                        <option value="high" {% if ticket.priority == 'high' %}selected{% endif %}>High</option>
                                    </select>
                                </div>

                                <div class="form-outline mb-4">
                                    <label class="form-label form-label-lg" for="status">Status</label>
                                    <select id="status" name="status" class="form-control form-control-lg" {% if request.user.role == 'user' %}disabled{% endif %}>
                                        <option value="open" {% if form.status.value == 'open' %}selected{% endif %}>Open</option>
                                        <option value="in_progress" {% if form.status.value == 'in_progress' %}selected{% endif %}>In Progress</option>
                                        <option value="closed" {% if form.status.value == 'closed' %}selected{% endif %}>Closed</option>
                                </select>
                            </div>
                            <div class="text-center mt-4">
                                
                                {% if request.user.role != 'user' %}
                                    <button type="button" class="btn" onclick="window.history.back();">Cancel</button>
                                    <button type="submit" class="btn btn-primary btn-lg">Update Ticket</button>
                                {% else %}
                                <button type="button" class="btn" onclick="window.history.back();">Go back</button>
                                {% endif %}
                                    
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-doc">
                        <div class="card-body p-4">
                            <label class="form-label form-label-lg" for="documentation">Documentation</label>
                            {{ form.media }}
                            {{ form.documentation }}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>
{% endblock %}