{% extends 'layout.html' %}

{% block title %}{% endblock %}

{% block content %}
	<div class="container mt-5">
		<div class="d-flex align-items-center">
			<h3>Closed Tickets</h3>
		</div>
		{% if closed_tickets %}
			<div class="table-responsive-sm">
				<table class="table table-hover table-ticket">
					<thead>
						<tr>
							<th>ID</th>
							<th>Status</th>
							<th>Title</th>
							<th>Description</th>
							<th>Department</th>
							<th>Last Update</th>
						</tr>
					</thead>
					<tbody>
						{% for ticket in closed_tickets %}
							<tr onclick="window.location.href='{% url 'ticket_detail' workspace.id department.id ticket.id %}'">
								<td>#{{ ticket.id }}</td>
								<td>{{ ticket.status}}</td>
								<td>{{ ticket.title }}
								<td>{{ ticket.description }}</td>
								<td>{{ ticket.assigned_department_id }}</td>
								<td>{{ ticket.updated_at }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		{% else %}
			<p>No tickets.</p>
		{% endif %}
		<div class="d-flex justify-content-end"">
			<button type="button" class="btn" onclick="window.history.back();" style="background:#6D28D9">
				Go Back
			</button>
		</div>
	</div>
{% endblock%}
