body,
html {
    overflow-x: hidden;
}

.sign-up-btn {
    background-color: #6D28D9
}

.sign-up-btn:hover {
    background-color: #CF8BF5;
}

.log-in-btn {
    background: none;
    border-color: #CF8BF5;
}

.app-btn {
    background: none;
    border-color: #CF8BF5;
}

.start-btn {
    background: #6D28D9
}

.start-btn:hover {
    background-color: #CF8BF5;
}

.purple-prob {
    color: #6D28D9;
}

.sparkle {
    width: 10%;
    height: 10%;
}

.everyone {
    width: 5%;
    height: 5%;
}

.zig-zag-1 {
    height: 300px;
}

.zig-zag-2 {
    height: 250px;
}

.zig-zag-3 {
    height: 150px;
}

.lillac-free {
    color: #CF8BF5
}

.about-us {
    color: #6D28D9;

}




#aboutMessage {
    margin-top: 100px;
}
