.split-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.top-half,
.bottom-half {
    height: 50%;
	overflow-y: auto;
}

.bottom-half {
    background-color: white;
}

.table.table-ticket td, 
.table.table-ticket th {
    background-color: transparent !important;
}

.ticket {
	width: 331.06px;
	height: 152px;
	overflow: hidden;
}

.circle {
    width: 10px;
    height: 10px;
    background-color: orange;
}

.status-square {
    width: 60px;
    height: 60px;
    background-color: green;
}