.split-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.top-half,
.bottom-half {
    height: 50%;
	overflow-y: auto;
}

.bottom-half {
    background-color: white;
}

.table.table-ticket td, 
.table.table-ticket th {
    background-color: transparent !important;
}

.ticket {
	width: 331.06px;
	height: 152px;
	overflow: hidden;
}

.card-title-ticket {
    font-size: 1.25rem;
    height: 3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.circle {
    width: 10px;
    height: 10px;
    background-color: green;
}

.status-square {
    width: 50px;
    height: 50px;
    background-color: green;
	margin-bottom: 3rem
}